/*
=============== 
Fonts
===============
*/
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
/*
=============== 
Variables
===============
*/

:root {
	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: hsl(205, 78%, 60%);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;
	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* font-family: var(--ff-secondary); */
	/* font-family: "Fredoka One", cursive; */
	background: var(--clr-grey-10);
	color: var(--clr-grey-1);
	line-height: 1.5;
	font-size: 2rem;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	/* font-family: var(--ff-primary); */
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}
/*  global classes */

/* section */
.section {
	padding: 5rem 0;
}

.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
}
@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
	}
}
main {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

/*
=============== 
Nav
===============
*/
nav {
	background: var(--clr-white);
	height: 5rem;
	display: grid;
	align-items: center;
	box-shadow: var(--dark-shadow);
}
.nav-center {
	width: 100vw;
	max-width: var(--fixed-width);
	margin: 0 auto;
	display: flex;
	align-items: center;
	font-size: 1.75rem;
	font-family: "Work Sans", sans-serif;
	justify-content: space-between;
}
.nav-center h4 {
	margin-bottom: 0;
	color: var(--clr-primary-5);
}
.nav-links {
	display: flex;
}
nav a {
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1.5rem;
	color: rgb(235, 86, 27);
	letter-spacing: var(--spacing);
	font-family: "Work Sans", sans-serif;
	margin-right: 1rem;
}
nav a:hover {
	color: var(--clr-primary-5);
}
/*
=============== 
Container
===============
*/
main {
	min-height: calc(100vh - 3rem);
	display: grid;
	place-items: center;
}
.container {
	text-align: center;
}
.container h2 {
	background: rgb(32, 32, 32);
	color: var(--clr-white);
	padding: 2rem;
	/* border: 2px solid #fff; */
	border-radius: 10rem;
	margin-bottom: 2.5rem;
	font-family: "Work Sans", sans-serif;
}
.color {
	color: rgb(255, 207, 77);
	text-transform: uppercase;
}
.btn-hero {
	font-family: "Work Sans", sans-serif;
	text-transform: uppercase;
	background: transparent;
	color: var(--clr-black);
	letter-spacing: var(--spacing);
	display: inline-block;
	font-weight: 700;
	transition: var(--transition);
	border: 2px solid #fff;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 25rem;
	font-size: 1.5rem;
	padding: 0.75rem 1.25rem;
}
.btn-hero:hover {
	color: var(--clr-white);
	background: var(--clr-black);
	filter: brightness(110%);
	border-radius: 25rem;
}

button:active {
	transform: translate(0, 0.5rem);
	box-shadow: 0 0.1rem rgba(255, 255, 255, 0.95);
}

/* removes active button blue border */
*:focus {
	outline: none !important;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
	.container h2 {
		margin: auto 15px;
	}

	.btn-hero {
		margin-top: 2.5rem;
	}

	.nav-center #color-flipper {
		/* visibility: hidden; */
		display: none;
	}

	.nav-links {
		left: 50%;
		float: center;
		padding: 20px;
	}
}
