@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");

:root {
	--fixed-width: 620px;
	--white: #fff;
	--black: #000;
	--azure: #f0ffff;
	--deepskyblue: deepskyblue;
	--mustard: rgb(255, 207, 77);
	--orange: rgb(235, 86, 27);
	--mobile-color: rgb(211, 60, 0);
	--blue: rgb(33, 121, 237);
	--off-black: #151513;
	--oval-background: rgb(32, 32, 32);
	--github-fill: var(--off-black);
	--github-color: var(--white);
	--github-focus: var(--orange);
	--transition: all 0.1s linear;
	--spacing: 0.1rem;
	--work-sans: "Work Sans", sans-serif;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--deepskyblue);
	color: var(--off-black);
	line-height: 1.25;
	font-size: 2rem;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

li,
p {
	margin-bottom: 1.25rem;
	color: var(--off-black);
}

main {
	min-height: 90vh;
	display: grid;
	place-items: center;
}

nav a,
.btn-hero,
.container p,
.nav-center {
	font-family: var(--work-sans);
}

nav {
	background: var(--white);
	height: 80px;
	width: 100%;
	display: grid;
	align-items: center;
	border-bottom: 5px solid var(--black);
	position: absolute;
}

.nav-center {
	width: 100vw;
	max-width: var(--fixed-width);
	margin: 0 auto;
	padding-left: 1.75%;
	display: flex;
	align-items: center;
	font-size: 1.75rem;
	justify-content: space-between;
}

.nav-links {
	display: flex;
	padding: 20px;
}

nav a {
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--orange);
	letter-spacing: var(--spacing);
	margin-right: 1rem;
}

nav a:hover {
	color: var(--blue);
}

.nav-links li,
#color-flipper {
	font-size: 24px;
	margin-bottom: 10px;
}

#color-flipper {
	color: var(--black);
}

main {
	min-height: calc(100vh - 3rem);
	display: grid;
	place-items: center;
}

.container {
	text-align: center;
}

.container p {
	background: var(--oval-background);
	color: var(--white);
	padding: 1.5rem 2rem;
	border-radius: 10rem;
	margin-bottom: 2.5rem;
	border: 5px solid var(--white);
}

.color {
	color: var(--mustard);
}

.btn-hero {
	text-transform: uppercase;
	background: transparent;
	color: var(--black);
	letter-spacing: var(--spacing);
	display: inline-block;
	font-weight: 700;
	transition: var(--transition);
	border: 4px solid var(--white);
	cursor: pointer;
	border-radius: 25rem;
	font-size: 1.5rem;
	padding: 0.75rem 1.25rem;
}

.btn-hero:hover {
	color: var(--white);
	background: var(--oval-background);
	border-radius: 25rem;
}

button:active {
	transform: translate(0, 0.5rem);
}

li a:focus,
button:focus {
	outline-offset: 4px;
}

li a:focus {
	outline: 4px solid var(--orange);
}

button:focus {
	outline: 4px solid var(--white);
}

.github-corner:focus svg path {
	fill: var(--github-focus);
	outline: none;
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
	outline: none;
}

.github-corner:focus .octo-arm,
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media screen and (max-width: 682px) {
	.github-corner {
		display: none;
	}

	.container p {
		margin: auto 15px;
	}

	.btn-hero {
		margin-top: 2.5rem;
	}

	.nav-center {
		padding-left: 0;
	}

	#color-flipper {
		padding-left: 20px;
		margin-left: 1rem;
	}
}

@media screen and (max-width: 452px) {
	.container p {
		font-size: 1.5rem;
		padding: 1rem;
	}

	nav a,
	#color-flipper {
		font-size: 16px;
	}

	nav a {
		color: var(--mobile-color);
	}

	.nav-links li {
		margin-bottom: 16.5px;
	}
}

@media screen and (max-width: 300px) {
	.container p {
		font-size: 1rem;
		padding: 0.8rem;
	}
}

@media screen and (max-width: 282px) {
	#color-flipper {
		display: none;
	}

	.nav-links {
		margin: 0 auto;
		padding-left: 15%;
	}
}
